.env
.env.*
*.env
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
*/venv/
*/.venv/
*env/
*.db
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db

# allow example env file
!.env.example

# allow example env file
!.env.example

# ignore accidental venv test folder
portfolio/Pv1_Venv_Slides_6_7/Test/

# ignore local venv folders
flask_appkev/

Ap4_API_Webforms/**/flask_appkev/

# Python venv / virtualenv
venv/
.venv/
*/venv/
*/.venv/
pyvenv.cfg
brussel_env/
flask_appkev/

# Python caches
__pycache__/
*.pyc

# Python virtual environments
python_venv/
.venv/
venv/
**/site-packages/
**/__pycache__/
*.pyc
pyvenv.cfg
