.env
.env.*
*.env
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
*/venv/
*/.venv/
*env/
*.db
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db

# allow example env file
!.env.example

# allow example env file
!.env.example

# ignore accidental venv test folder
portfolio/Pv1_Venv_Slides_6_7/Test/

# ignore local venv folders
flask_appkev/

Ap4_API_Webforms/**/flask_appkev/
